/** reset sur les sites déjàs placés **/

.field input:focus, .field textarea:focus { /* because compressed l272 */
	background : none;
}

/** code réel" **/
 
#comment-form {
	position : relative;
}

.field {
	margin : 0;
	padding : 0;
	border : 0 1px 1px 1px solid black;
}

.field label { 
	position: relative;  
	top:0.8em;
	opacity : 0; 	
	transition-property: opacity top;
	transition-duration: 0.4s;  
}
.field.notEmpty label { 
	top : 0;
	opacity : 1 ;
}
.field :invalid {
	border : none;
	box-shadow : none;
}
.field :invalid:before {
	border : none;
	box-shadow : none;
}

.field input, .field textarea, .field :focus  {
	margin  : 0;
	outline : none;
	width: 95%;
	background : transparent;
	border : none;
	border-radius: 0px;
	font-family: Titillium Web, sans-serif;
}

.modified .field :invalid {
	background-image: linear-gradient(			top, #EEF 0%, #FFF 30%);
	background-image: -o-linear-gradient(		top, #EEF 0%, #FFF 30%);
	background-image: -moz-linear-gradient(		top, #EEF 0%, #FFF 30%);
	background-image: -webkit-linear-gradient(	top, #EEF 0%, #FFF 30%);
	background-image: -ms-linear-gradient(		top, #EEF 0%, #FFF 30%);
}

#comment-1stline {
	border-bottom : 1px solid #cce ;
}

@media only screen and (min-width:479px) {
	#comment-1stline .field {
		float : left;
		width : 49%;
	}
	#g_site {
		border-left : 1px solid #cce ;
	}
}

#comment-2ndline {
	border-bottom : 1px solid #cce ;
}

#form-help {
	display : block;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.4s;  
}
textarea:focus ~ #form-help {
	opacity: 1;
}

#comment-form button {
	position : relative;
	display : inline-block;
	top : 0.8em;
	opacity : 0;
	padding : 0.33em 0.66em;
	border: 1px solid rgb(104, 104, 103);
	border-radius : 5px;
	color : rgb(238, 238, 238);
	font-size : 0.875em;
	text-transform : capitalize;
	font-weight : bold;
	text-align : center;
	text-shadow : 0px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow : 0px 1px 2px rgba(0, 0, 0, 0.2);
	background-image : linear-gradient(			top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	background-image : -o-linear-gradient(		top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	background-image : -moz-linear-gradient(	top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	background-image : -webkit-linear-gradient(	top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	background-image : -ms-linear-gradient(		top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	transition-property : opacity;
	transition-duration : 0.4s;  
}

#comment-form.modified button {
	top : 0em;
	opacity : 1;
}
