#comment-form {
	position : relative;
}

.field {
	border : 0 1px 1px 1px solid black;
	margin : 0;
	padding : 0;
}
.field label { 
	position: relative;  
	opacity : 0  ; 	
	transition-property: opacity top;
	transition-duration: 0.4s;  
	top:0.8em;
}
.field.notEmpty label { 
	opacity : 1 ;
	top : 0;
}
.field :invalid {
	border : none;
	box-shadow: none;
}
.field :invalid:before {
	border : none;
	box-shadow: none;
}

.modified .field :invalid {
	/*border : none;
	box-shadow: none;*/
	/*background : white;*/
	
	background-image: linear-gradient(			top, #EEF 0%, #FFF 30%);
	background-image: -o-linear-gradient(		top, #EEF 0%, #FFF 30%);
	background-image: -moz-linear-gradient(		top, #EEF 0%, #FFF 30%);
	background-image: -webkit-linear-gradient(	top, #EEF 0%, #FFF 30%);
	background-image: -ms-linear-gradient(		top,#EEF 0%, #FFF 30%);
}

.field input , .field textarea , .field :focus  {
	margin  : 0;
	outline : none;
	border : none;
	border-radius: 0px;
	font-family: Titillium Web, sans-serif;
	background : transparent;
	width: 95%;
}

#comment-1stline {
	border-bottom : 1px solid #cce ;
}

#comment-1stline .field {
	float : left;
	width : 49%;
}

#comment-2ndline {
	border-bottom : 1px solid #cce ;
}

#g_site {
	border-left : 1px solid #cce ;
}

#form-help {
	opacity: 0;
	display : block
	transition-property: opacity;
	transition-duration: 0.4s;  
}
textarea:focus ~ #form-help {
	opacity: 1;
}

#comment-form button {

	color: rgb(238, 238, 238);
	font-size: 0.875em;
	display: inline-block;
	text-transform: capitalize;
	font-weight: bold;
	text-align: center;
	padding: 0.33em 0.66em;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	border: 1px solid rgb(104, 104, 103);
	border-radius: 5px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(			top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	background-image: -o-linear-gradient(		top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	background-image: -moz-linear-gradient(		top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	background-image: -webkit-linear-gradient(	top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	background-image: -ms-linear-gradient(		top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	transition-property: opacity;
	transition-duration: 0.4s;  
	position : relative;
	opacity : 0;
	top:0.8em;
}

#comment-form.modified [type="submit"] {
	opacity : 1;
	top:0em;
}
