/** reset sur les règles déjà placées **/

.field input:focus, .field textarea:focus { /* because compressed l272 */
	background : none;
}

/** code "réel" sur la section #comment-form **/

.field {
	margin : 0;
	padding : 0;
	border : 0 1px 1px 1px solid black;
}

.field label { 
	/* Par défaut, cache le label et le révèlera si l'input se rempli */
	position: relative;  
	top:0.8em;
	opacity : 0; 	
	transition-property: opacity top;
	transition-duration: 0.4s;  
}
.field.notEmpty label {
	/* révèle le label si on commence à remplir l'entrée */
	/* pour le .notEmpty, je suis obligé de passer par du JS, il n'y a pas de pseudo-classes en CSS pour faire ce que je cherche */
	top : 0;
	opacity : 1 ;
}

.field input, .field textarea, .field :focus  {
	margin  : 0;
	outline : none;
	width: 95%;
	background : transparent;
	border : none;
	border-radius: 0px;
	font-family: Titillium Web, sans-serif;
}

.field :invalid {
	/* reset */
	border : none;
	box-shadow : none;
}

.modified .field :invalid {
	background-image: linear-gradient(			top, #EEF 0%, #FFF 30%);
	background-image: -o-linear-gradient(		top, #EEF 0%, #FFF 30%);
	background-image: -moz-linear-gradient(		top, #EEF 0%, #FFF 30%);
	background-image: -webkit-linear-gradient(	top, #EEF 0%, #FFF 30%);
	background-image: -ms-linear-gradient(		top, #EEF 0%, #FFF 30%);
}

#comment-1stline, #comment-2ndline {
	border-bottom : 1px solid #cce ;
}

@media only screen and (min-width:479px) {
	/* sur les largeurs qui ont de la place, je mets les champs pseudo et url sur la même ligne */
	#comment-1stline .field {
		float : left;
		width : 49%;
	}
	#g_site {
		border-left : 1px solid #cce ;
	}
}

#form-help {
	/* l'info technique sur le champ de texte n'est révélé que si le textarea a le focus */
	display : block;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.4s;  
}

textarea:focus ~ #form-help {
	opacity: 1;
}

#comment-4thline , .modified:invalid #comment-4thline {
	/* par défaut, la ligne du bouton de validation est cachée... */
	opacity : 0;
	border-top : 1px solid #cce;
	transition-property : opacity;
	transition-duration : 0.4s;  
}

.modified #comment-4thline , .modified:valid #comment-4thline {
	/* il est révélé soit si le commentaire est valide (si le navigateur le supporte), soit si le formulaire a été touché */
	opacity : 1;
}

#comment-form button {
	padding : 0.33em 0.66em;
	border: 1px solid rgb(104, 104, 103);
	color : rgb(238, 238, 238);
	font-family: Titillium Web, sans-serif;
	font-size : 0.875em;
	text-transform : capitalize;
	font-weight : bold;
	text-align : center;
	text-shadow : 0px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow : 0px 1px 2px rgba(0, 0, 0, 0.2);
	background-image : linear-gradient(			top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	background-image : -o-linear-gradient(		top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	background-image : -moz-linear-gradient(	top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	background-image : -webkit-linear-gradient(	top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
	background-image : -ms-linear-gradient(		top , rgb(119, 119, 119) 0px, rgb(85, 85, 85) 100%);
}
